.AboutBody {
    position: relative;
    top: -130px;
    font-family: 'Manrope', sans-serif;
}

.about {
    position: relative;
    top: 150px;
}

.about-box {
    width: 80vw;
    margin: 150px auto;
    padding: 50px;
    background-image: linear-gradient(#02020a, #0d0d40);
    border-radius: 16px;
    box-shadow: 
        5px 5px 20px #0f0f48 inset,
        -5px -5px 20px #0b0b37 inset,
        -8px -8px 32px #1a1a7f,
        8px 8px 32px #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-text {
    margin: 20px;
    margin-right: 300px;
    color: #efe9e7;
    font-size: 25px;
}

.about-img {
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 110vh;
    right: 5vw;
    margin-bottom: -550px;
}

.bernardo-ramalhete {
    width: 550px;
    margin: -60px;
    margin-bottom: -700px;
}

.about-contact {
    color: #02020a;
    background-color: #f0386c;
    width: 40vw;
    padding: 30px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 
        -9px -9px 20px 0px #eb7fa73a, 
        -4px -4px 5px 0px #eb7fa73a, 
        7px 7px 20px 0px #b51c545a, 
        4px 4px 5px 0px #b51c545a, 
        inset 0px 0px 0px 0px #eb7fa73a, 
        inset 0px 0px 0px 0px #b51c545a, 
        inset 0px 0px 0px 0px #b51c545a, 
        inset 0px 0px 0px 0px #eb7fa73a;
    margin: 0 auto;
    position: relative;
    bottom: 17vh;
    z-index: 5;
}

.about-contact-h2 {
    font-size: 30px;
    margin: 10px;
    margin-bottom: 20px;
    color: #efe9e7
}

.about-contact-p {
    font-size: 20px;
}

.about-contact-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin-top: 20px;
}

.about-contact-email,
.about-contact-wpp {
    color: #efe9e7;
    border: 1px solid #efe9e7;
    border-radius: 10px;
    padding: 10px;
    transition: all 0.5s ease
}

.about-contact-item {
    color: #02020a;
    margin-top: 20px;
    font-size: 20px;
}

@media (max-width: 760px) {
    .about-box {
        display: flex;
        flex-direction: column;
        background-image: none;
        box-shadow: none;
        align-items: center;
        justify-content: center;
        margin: 20px auto;
    }

    .about-text {
        order: 2;
        margin: 0;
        font-size: 16px;
    }

    .about-img {
        display: flex;
        justify-content: flex-end;
        position: relative;
        bottom: 300px;
        right: -40px;
        margin-bottom: -300px;
    }

    .bernardo-ramalhete {
        margin: -60px;
    }

    .about-contact {
        bottom: 0;
        width: 90vw;
        margin-left: 10vw;
    }
}