.cards-section {
    margin-top: 150px;
}

.card-row,
.card-row2 {
    width: 90%;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.card-row2 {
    position: relative;
    top: -100px;
    margin-bottom: -100px;
}

.card {
    position: relative;
    border-radius: 8px;
}

.card-face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 3px;
}

.card-face.front {
    position: relative;
    background-image: linear-gradient(#02020a, #0d0d40);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 8px;
    box-shadow: 
        -8px -8px 32px #0e0e48,
        8px 8px 32px #02020a;
}

.card:hover .card-face.front {
    background: #f0386b;
    transform: translateY(0);
    border-radius: 3px;
    box-shadow: 
        -8px -8px 32px #f57fa0,
        8px 8px 32px #cc0f45;
}

.card-content {
    opacity: 0.5;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover .card-content {
    opacity: 1;
}

.card-title {
    color: #f0386b;
    font-size: 1.5em;
}

.card:hover .card-title {
    color: #02020a;
}

.card-face.back {
    position: relative;
    background: #02020a;
    color: #f0386b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px #0000002a;
    transform: translateY(-100px);
    border-radius: 8px;
}

.card:hover .card-face.back {
    transform: translateY(0);
    border-radius: 2px;
}

.card-icon {
    margin-bottom: 20px;
    width: 100px;
    height: 100px
}

.techs {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 0;
    font-size: 80px;
}

@media (max-width: 760px) {
    .cards-section {
        margin-top: 5em;
        margin-bottom: -900px;
        width: 90vw;
    }
    
    .card-row{
        width: 50vw;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
    }

    .card-face {
        width: 11em;
        height: 8em; 
    }

    .card:hover .card-face.front {
        transform: translateY(100px);
    }

    .card-face.back {
        display: none;
    }

    .card-icon {
        width: 50px;
        height: 50px;
    }

    .techs {
        margin: 20px;
        position: relative;
        left: 50%;
        bottom: 300px;
        transform: rotate(90deg)
    }
}