.card-face.front-white {
    background-image: linear-gradient(#d1d9e6, #f9f9f9);
    box-shadow: 
        -8px -8px 32px #f9f9f9,
        8px 8px 32px #d1d9e6;
}

.card:hover .card-face.front-white {
    background: #aa9ad3;
    box-shadow: 
        -8px -8px 32px #d1d9e6,
        0px 0px 12px #f9f9f9;
}

.card:hover .card-title-white {
    color: #f9f9f95a;
}

.card-face.back-white {
    background: #EDF2F0;
    color: #181818;
    box-shadow: 
        -8px -8px 32px #d1d9e6,
        0px 0px 12px #f9f9f9;
}