.cards-section {
    margin: 0 auto;
    margin-top: 150px;
    width: 95vw;
}

.card-row{
    width: 90%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    margin: 0 auto;
}

.card-face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 3px;
}

.card-face.front {
    position: relative;
    background-image: linear-gradient(#02020a, #0d0d40);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
    border-radius: 8px;
    box-shadow: 
        -8px -8px 32px #0e0e48,
        8px 8px 32px #02020a;
}

.card:hover .card-face.front {
    background: #f0386b;
    transform: translateY(0);
    border-radius: 3px;
    box-shadow: 
        -8px -8px 32px #f57fa0,
        8px 8px 32px #cc0f45;
}

.card-content {
    opacity: 0.5;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card:hover .card-content {
    opacity: 1;
}

.card-title {
    color: #f0386b;
    font-size: 1.5em;
}

.card:hover .card-title {
    color: #02020a;
}

.card-face.back {
    position: relative;
    background: #02020a;
    color: #f0386b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px #0000002a;
    transform: translateY(-100px);
    border-radius: 8px;
    font-family: 'Manrope'; 
}

.card:hover .card-face.back {
    transform: translateY(0);
    border-radius: 2px;
}

.card-icon {
    margin-bottom: 20px;
    width: 100px;
    height: 100px
}

.techs {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-top: 0;
    font-size: 80px;
}

@media (max-width: 760px) {
    .cards-section {
        margin: 0 auto;
        width: 100vw;
    }
    
    .card-row{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        column-gap: 20px;
        row-gap: 20px;
    }

    .card {
        width: auto;
        height: auto;
    }

    .card-face {
        width: 45vw;
        height: 8em; 
    }

    .card-face.front {
        transform: none;
    }

    .card:hover .card-face.front {
        transform: none;
    }

    .card-face.back {
        display: none;
    }

    .card-icon {
        width: 50px;
        height: 50px;
    }

    .techs {
        font-size: 70px !important; 
        width: 100vw;
        z-index: 1000000;
        display: flex;
        justify-content: flex-end;
        margin: 0;
        margin-top: 0px !important;
        margin-bottom: -90px !important;
    }
}